body {
  background-color: #121212;
  color: #E6DFC6;
  font-family: 'Roboto Mono', monospace;
  padding: 20px;
}

h1 {
  color: #F40F28;
}

a {
  color: #EE8E02;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #AD3605;
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 4px solid #F40F28;
  display: block;
  margin-bottom: 20px;
}
